<plan-header (emittedUrl)="navigateOn($event)"></plan-header>
<div class="container">
    <div class="row">
      <div class="col-12">
        <plan-recipes *ngIf="selectedRecipeUrl === 'recipes'"></plan-recipes>
        <plan-shopping-list *ngIf="selectedRecipeUrl === 'shopping-list'"></plan-shopping-list>
      </div>
    </div>
</div>