<div class="card" style="width: 10rem;" planSelectedRecipe>
    <img class="card-img-top" src="{{recipe.imagePath}}" alt="{{recipe.name}}">
    <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{shortDescription}}</p>
        <a href="#" class="btn btn-primary" (click)="showDetails(recipe)" >More details</a>
    </div>
</div>