<div class="row">
    <div class="col-8"><plan-recipe-list (emittedRecipeDetail)="showRecipeDetail($event)"></plan-recipe-list></div>
    <div class="col-4"><plan-recipe-detail [recipeDetail]="recipeDetail"></plan-recipe-detail></div>
</div>