<form #ingredientForm="ngForm" class="form" fxLayout="row wrap" fxLayoutAlign="space-around" novalidate>
    <div class="form-group">
        <label for="ingredientName">Nom</label>
        <input type="text" name="name" [ngModel]="ingredient.name" class="form-control" id="ingredientName">
    </div>
    <div class="form-group">
        <label for="ingredientAmount">Quantité ?</label>
        <input type="number" name="amount" [ngModel]="ingredient.amount" class="form-control" id="ingredientAmount">
    </div>
    <div class="form-group">
        <label>Actions</label><br>
        <button class="btn btn-primary" (click)="addIngredient(ingredientForm.value)">Ajouter</button> 
        <button class="btn btn-danger mx-2">Effacer</button> 
        <button class="btn btn-secondary">Annuler</button> 
    </div>
</form>