<div id="recipesList" fxLayout="row wrap" fxLayoutAlign="space-between">
    <plan-recipe-item 
        *ngFor="let recipe of recipes; trackBy: trackById" 
        [recipe]="recipe" 
        (emittedRecipe)="getRecipeDetail($event)"
        [selectedRecipe]="selected"
        ></plan-recipe-item>
</div>