<div class="row">
    <div class="col-12">
        <plan-shopping-edit></plan-shopping-edit>
        <hr>
        <ul class="list-group">
            <ng-container *ngFor="let ingredient of ingredients; trackBy: trackByItem; let pair=even; let impair=odd">
                <!-- Impair -->
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                    *planUnless="pair" [planOddColor]=""> <!-- [planOddColor] alias de [backgroundHover]=""-->
                    {{ingredient.name}} - pair: {{pair}} - impair: {{impair}}
                    <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
                </li>
                <!-- Pair -->
                <li *planUnless="impair" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{ingredient.name}} - pair: {{pair}} - impair: {{impair}}
                    <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
                </li>
            </ng-container>
        </ul>
        
    </div>
</div>