<div *ngIf="recipeDetail" fxLayout="column wrap" fxLayoutAlign="space-between">
    <img class="img-fluid" src="{{recipeDetail.imagePath}}" alt="">
    <div class="recipe-detail-container">
        <h4>{{recipeDetail.name}}</h4>
        <div class="nav-item dropdown" planDropdown>
            <a id="recipeDropdown" class="nav-link dropdown-toggle" href="#">Manage recipe</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">To shopping list</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Edit recipe</a>
                <a class="dropdown-item" href="#">Delete recipe</a>
            </div>
        </div>

        <p>{{recipeDetail.description}}</p>
    </div>
</div>